<header class="site-header">

  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/es" class="brand-logo"><object id="front-page-logo" class="responsive-img" width="120px" type="image/png" data="/images/logo_fricolaB.png">Your browser does not support SVG.</object></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/es/about">Sobre nosotros</a></li>
        <li><a href="/es/oss">Catálogo OSS</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="/es/about">Sobre nosotros</a></li>
        <li><a href="/es/oss">Catálogo OSS</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

</header>
