<header class="site-header">
  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="/es">es</a></li>
    <li><a href="#">en</a></li>
  </ul>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo"><object id="front-page-logo" class="responsive-img" width="120px" type="image/png" data="/images/logo_fricolaB.png">Your browser does not support SVG.</object></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/about">About Us</a></li>
        <li><a href="/oss">OSS Catalog</a></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#" data-activates="dropdown1">Language<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="/about">About</a></li>
        <li><a href="/oss">OSS</a></li>
        <li><a href="/es">es</a></li>
        <li><a href="#">en</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

</header>
